$transparent: rgba(0, 0, 0, 0);
$white: #F5FBEF;

$gray0: #FCFCFC;
$gray1: #F2F2F2;
$gray2: #BFBFBF;
$gray3: #404040;
$gray4: #333333;

$green1: #959E5B;
$green2: #979476;
$green3: #4C572A;

$teal1: #8DB8B7;
$teal2: #658483;
$teal3: #326B6A;

$tan1: #FFD9C4;
$tan2: #D0A48B;
$tan3: #835F4B;
