$transparent: rgba(0, 0, 0, 0);

$lavender0: #e8faff;
$lavender1: #8595C6;
$lavender2: #5a70ac;
$lavender3: #506399;
$lavender4: #252e46;

$brown0: #fff5f3;
$brown1: #beb4af;
$brown2: #977269;

$green1: #5f9784;
$green2: #5a716a;

$black0: #e8faff;
$black1: #D1E1E5;
$black2: #747D7F;
$black3: #404546;
$black4: #3A3E40;
