<div id="activities" class="band band--secondary">
    <div class="container">
        <div class="row">
            <div class="activity__category">
                <h2>Hungry? Need a place to eat?</h2>
                <h4 class="h3">Eat at our favorite places</h4>
            </div>

            <p class="activity__description">
                If your belly is rumbling and you're looking for a great place
                to grab a bite to eat, why not try one of our favorites?
                We've spent a lot of time at these places and really love all of them!
            </p>
        </div>
        <div class="row">
            {{> activity-card
                href="https://www.yelp.com/biz/merritts-store-and-grill-chapel-hill"
                img="https://s3-media4.fl.yelpcdn.com/bphoto/p2cTjHSDV4QBfDu6M4s9WQ/258s.jpg"
                title="Merritt's"
                description="Award-winning BLTs and great outdoor seating"
            }}
            {{> activity-card
                href="https://www.yelp.com/biz/italian-pizzeria-iii-chapel-hill"
                img="https://s3-media2.fl.yelpcdn.com/bphoto/YCRYYdOupzsyGaDdGzw7mQ/258s.jpg"
                title="IP3"
                description="Our favorite pizza joint"
            }}
            {{> activity-card
                href="https://www.yelp.com/biz/als-burger-shack-chapel-hill"
                img="https://s3-media2.fl.yelpcdn.com/bphoto/J_M0bUCmZhUedEHiH1Uq8A/258s.jpg"
                title="Al’s Burger Shack"
                description="Best burgers in the world and picnic table seating"
            }}
            {{> activity-card
                href="https://www.yelp.com/biz/bandidos-mexican-cafe-chapel-hill"
                img="https://s3-media3.fl.yelpcdn.com/bphoto/Ax97yBPQ9eltyXBaec7tKg/258s.jpg"
                title="Bandido’s"
                description="Our favorite hole-in-wall Mexican place"
            }}
            {{> activity-card
                href="https://www.yelp.com/biz/mediterranean-deli-chapel-hill-2"
                img="https://s3-media2.fl.yelpcdn.com/bphoto/yYB2gwEcowNQsVkoRiGHVg/258s.jpg"
                title="Med Deli"
                description="Tasty mediterranean dining"
            }}
            {{> activity-card
                href="https://www.yelp.com/biz/yogurt-pump-chapel-hill"
                img="https://s3-media4.fl.yelpcdn.com/bphoto/kTjrr9FfcKN8amwALijHmA/258s.jpg"
                title="Yogurt Pump"
                description="Frozen yogurt, an after lunch sweet treat"
            }}
            {{> activity-card
                href="https://www.yelp.com/biz/caff%C3%A9-driade-chapel-hill-2"
                img="https://s3-media3.fl.yelpcdn.com/bphoto/ZNu0Qq35TI-g7w98rOUlpw/258s.jpg"
                title="Caffé Driade"
                description="Outdoorsy place for coffee and tea"
            }}
        </div>
    </div>
</div>

<div id="activities" class="band">
    <div class="container">
        <div class="row">
            <div class="activity__category">
                <h2>Fill the day in Chapel Hill</h2>
                <h4 class="h3">Do what we enjoy</h4>
            </div>

            <p class="activity__description">
                If you're hanging out in Chapel Hill before the show, make sure
                to check out these great places!
            </p>
        </div>
        <div class="row">
            {{> activity-card
                href="https://www.yelp.com/biz/weaver-street-market-carrboro"
                img="https://s3-media3.fl.yelpcdn.com/bphoto/76FRoiO7GndxRpvqHcVL1A/258s.jpg"
                title="Weaver Street Market"
                description="Grab something at the food bar and spend the afternoon people-watching in the heart of Carrboro."
            }}
            {{> activity-card
                href="https://www.yelp.com/biz/varsity-theatre-chapel-hill"
                img="https://s3-media3.fl.yelpcdn.com/bphoto/gjVnacZm9yBfReqoIAv92w/ls.jpg"
                title="Varsity Theater"
                description="Catch a movie in a fun, vintage-style theater right on Franklin."
            }}

            {{> activity-card
                href="https://www.yelp.com/biz/the-university-of-north-carolina-at-chapel-hill-chapel-hill"
                img="https://s3-media3.fl.yelpcdn.com/bphoto/HyJVKx8UyJ--xWRo0oa25w/258s.jpg"
                title="Explore UNC's Campus"
                description="Check out everything from the Bell Tower to the Old Well to Franklin Street."
            }}

            {{> activity-card
                href="https://www.yelp.com/biz/ackland-art-museum-chapel-hill"
                img="https://s3-media1.fl.yelpcdn.com/bphoto/KwSAfSLa80kINIh4UloSUg/258s.jpg"
                title="Ackland Art Museum"
                description="A great diverse collection for a smaller gallery. Right below Top of the Hill!"
            }}
        </div>
    </div>
</div>

