<div class="activity__thing">
    <div class="card">
        <a class="activity__link" href="{{href}}">
            <img class="activity__img card-img-top" src="{{img}}" alt="">
            <div class="card-block">
                <h4 class="card-title">{{title}}</h4>
                <p class="card-text">{{description}}</p>
            </div>
        </a>
    </div>
</div>
