<div id="ceremony" class="band">
    <div class="container">
        <div class="ceremony">
            <div class="title">
                <h2>The Wedding Day</h2>
                <h3 class="h3"> Join us on our big day</h3>
                <p>
                    We would be delighted to have you join us on our wedding.
                    Here's all of the details you need about the rehearsal and
                    ceremony. Don't forget to <a class="a--em" href="/rsvp">RSVP</a>.
                    See you there!
                </p>
            </div>
            <div class="ceremony__event">
                <h3>Rehearsal</h3>
                <h4 class="h3">May 26, 2017</h4>
                <p>
                    4:00pm - 8:00pm<br>
                    <strong>Chapel Hill Carriage House</strong><br>
                    3110 Jones Ferry Road<br>
                    Chapel Hill, NC 27516
                </p>
                <p>
                    Wedding Party and Invited Guests. Dinner following at
                    <a href="https://www.google.com/maps/dir/Chapel+Hill+Carriage+House,+Jones+Ferry+Rd,+Chapel+Hill,+NC/411+W+Franklin+St,+Chapel+Hill,+NC+27516/@35.8886781,-79.1352901,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89acc43944390091:0xee14157cd94240f3!2m2!1d-79.1384168!2d35.8744671!1m5!1m1!1s0x89acc2e10981b3a5:0x15fca8be49c7e8a6!2m2!1d-79.0615118!2d35.9106161"
                        class="a--em">
                        411 West
                    </a>.
                </p>
            </div>
            <div class="ceremony__event">
                <h3>Ceremony and Reception</h3>
                <h4 class="h3">May 27, 2017</h4>

                <p>
                    4:00pm - 10:00pm<br>
                    <strong>Chapel Hill Carriage House</strong><br>
                    3110 Jones Ferry Road<br>
                    Chapel Hill, NC 27516
                </p>

                <p>Cocktail hour and Reception to immediately follow Ceremony</p>

            </div>
            <div class="title">
                <a class="btn btn-lg btn-secondary" href="/rsvp">RSVP</a>
            </div>
        </div>
    </div>
</div>
