<div id="activities" class="band band--secondary">
    <div class="container">
        <div class="row">
            <div class="faq__title">
                <h2>FAQ</h2>
                <h4 class="h3">No one actually asked...</h4>
            </div>

            <div class="faq__question">
                <h3>Aren’t you guys like… already married?</h3>
                Yes, we are! We became engaged on November 15, 2014, and we were thrilled to start our life together.  Soon after our engagement, we both started new careers at our companies, moved to Raleigh, bought a house, Liz had surprise knee surgery, and we adopted a new puppy.  Life got in the way, and before we knew it, a year went by without any wedding planning.  We thought… let’s be married already!  On November 6th, 2015, two of our closest friends accompanied us to the Justice of Peace in Raleigh, and we started our married life together.  It was still important to us to have a celebration with our loved ones, so two and a half years later, we are finally having our big wedding.  There will be a ceremony, reception, cake, and dancing.  The evening will feel exactly like a “normal” wedding.
            </div>

            <div class="faq__question">
                <h3>What should I wear?</h3>
                Chapel Hill Carriage House is an outdoor venue, and we would like our guests to be comfortable.  Women may wear sun dresses/skirts/pants and blouses.  The terrain varies from grass to concrete to cobblestone, so leave the stilettos at home and stick to sandals or flats. Men may wear khakis/pants/polos/button downs.  It will be a spring afternoon, and it could be warm, so suit coats are not required.
            </div>

            <div class="faq__question">
                <h3>Is there anything fun to do on Saturday while we’re waiting for the party to start?</h3>
                Yes! Here are some of our favorite spots, and they are all within 5-10 min of accommodations.
            </div>
        </div>
    </div>
</div>
