<div id="hotels" class="band band--hotel">
    <div class="container">
        <div class="ceremony">
            <div class="title">
                <h2>Accommodations</h2>
                <p>
                    We have group rates available at these hotels, just mention
                    our names!
                </p>
            </div>
            <div class="ceremony__event">
                <h3>Hampton Inn & Suites</h3>
                <p>
                    <strong>Chapel Hill/Carrboro</strong><br>
                    370 E Main St #100<br>
                    Carrboro, NC 27510<br>
                    <a class="a--em" href="tel:+19199696988">(919) 969-6988</a>
                </p>
                <p>
                    <a class="a--em" href="http://hamptoninn.hilton.com/en/hp/groups/personalized/R/RDUCOHX-BDW-20170526/index.jhtml" target="_blank">Book online</a>
                    or <a class="a--em" href="tel:+19199696988">call</a> and reference the Durham-Barlock wedding (group code BDW).
                    Provides a <a class="a--em" href="#transportation">shuttle</a> to the ceremony.
                </p>
            </div>
            <div class="ceremony__event">
                <h3>The Franklin</h3>
                <p>
                    <strong>Chapel Hill</strong><br>
                    311 West Franklin St.<br>
                    Chapel Hill NC 27516<br>
                    <a class="a--em" href="tel:+19194429000">(919) 442-9000</a>
                </p>
                <p>
                    <a class="a--em" href="http://www.franklinhotelnc.com" target="_blank">Book online</a>
                    using group code BARL05 or <a class="a--em" href="tel:+19194429000">on the phone</a>
                    referencing the Durham-Barlock Wedding. Walking distance to a <a class="a--em" href="#transportation">shuttle</a> to the ceremony.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="transportation" class="band">
    <div class="container">
        <div class="ceremony">
            <div class="title">
                <h2>Wedding Transportation</h2>
                <p>
                    There will be a shuttle leaving from the Hampton Inn & Suites in Carrboro (370 E Main St #100, Carrboro, NC 27510) at both 2:55pm and 3:25pm on Saturday to take people to the ceremony.
                </p>
                <p>
                    If you are staying at The Franklin, we still encourage taking the shuttle. The pick up location is a 10-15 stroll away from your hotel.
                </p>
                <p>
                    *If you miss the shuttle or the shuttle is full, it's only a 5 mile cab or Uber ride away!
                </p>
                <p>
                    After the reception (around 10pm) the shuttle will bring guests back to Carrboro. The shuttle will also leave earlier if there is anyone who wishes to leave.
                </p>
            </div>
        </div>
    </div>
</div>
