<div id="ceremony" class="band band--hotel">
    <div class="container">
        <div class="ceremony">
            <div class="title">
                <h2>Accommodations</h2>
                <p>
                    We have group rates available at these hotels, just mention
                    our names!
                </p>
            </div>
            <div class="ceremony__event">
                <h3>Hampton Inn & Suites</h3>
                <p>
                    <strong>Chapel Hill/Carrboro</strong><br>
                    370 E Main St #100<br>
                    Carrboro, NC 27510<br>
                    (919) 969-6988
                </p>
                <p>
                    Has shuttle transportation to wedding
                    Walking distance from downtown Carrboro and Chapel Hill
                </p>
            </div>
            <div class="ceremony__event">
                <h3>REPLACE ME</h3>
                <p>
                    <strong>Chapel Hill/Carrboro</strong><br>
                    370 E Main St #100<br>
                    Carrboro, NC 27510<br>
                    (919) 969-6988
                </p>
                <p>
                    Has shuttle transportation to wedding
                    Walking distance from downtown Carrboro and Chapel Hill
                </p>
            </div>
            <div class="title">
                <p>
                    There will be a shuttle leaving from the Hampton Inn & Suites
                    in Carrboro (370 E Main St #100, Carrboro, NC 27510) at both
                    2:55pm and 3:25pm on Saturday to take people to the ceremony.
                    If you miss the shuttle or the shuttle is full, it's only
                    a 5 mile cab or Uber ride away!
                </p>
                <p>
                    After the reception (around 10pm) the shuttle will bring
                    guests back to Carrboro. The shuttle will also leave
                    earlier if there is anyone who wishes to leave.
                </p>
            </div>
        </div>
    </div>
</div>
