<div id="ceremony" class="band band--hotel">
    <div class="container">
        <div class="ceremony">
            <div class="title">
                <h2>Accommodations</h2>
                <p>
                    We have group rates available at these hotels, just mention
                    our names!
                </p>
            </div>
            <div class="ceremony__event">
                <h3>Hampton Inn & Suites</h3>
                <p>
                    <strong>Chapel Hill/Carrboro</strong><br>
                    370 E Main St #100<br>
                    Carrboro, NC 27510<br>
                    (919) 969-6988
                </p>
                <p>
                    Has shuttle transportation to wedding
                    Walking distance from downtown Carrboro and Chapel Hill
                </p>
            </div>
        </div>
    </div>
</div>
