<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="/">
        {{> logo }}
    </a>
    <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
            <a class="nav-link" href="/ceremony">Ceremony</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/registry">Registry</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-secondary" href="/rsvp">RSVP</a>
        </li>
    </ul>
</nav>
