<div id="registry" class="band">
    <div class="container">
        <div class="details">
            <div class="details__title">
                <h2>Registry</h2>
                <h3 class="h3">Wedding gifts</h3>
                <p>
                    You don't need to bring us gifts — Your company is enough.
                    Though, if you want to, we are registered at the following stores.
                </p>
            </div>
            <div class="details__info">
                <a href="https://amazon.com"
                   target="_blank">
                    <img src="http://logonoid.com/images/amazon-logo.png"
                         class="img"
                         alt="Amazon Logo" />
                </a>
            </div>
            <div class="details__info">
                <a href="https://amazon.com"
                   target="_blank">
                    <img src="http://logonoid.com/images/amazon-logo.png"
                         class="img"
                         alt="Amazon Logo" />
                </a>
            </div>
            <div class="details__title">
                <p>
                    We accept cash as well. We have a PayPal account in case you prefer
                    to make a donation and help us that way.
                </p>
                <a class="btn btn-lg btn-secondary" href="https://www.paypal.com">PayPal Donation</a>
            </div>
        </div>
    </div>
</div>
