<div id="registry" class="band">
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>Registry</h2>
                <h3 class="h3">Wedding gifts</h3>
                <p>
                    You don't need to bring us gifts — Your company is enough.
                    Though, if you want to, we are registered at the following stores.
                </p>
            </div>
        </div>
        <div class="registry">
            <div class="registry__store">
                <a href="https://amazon.com"
                   target="_blank">
                    <img src="http://logonoid.com/images/amazon-logo.png"
                         class="img"
                         alt="Amazon Logo" />
                </a>
            </div>
            <div class="registry__store">
                <a href="https://amazon.com"
                   target="_blank">
                    <img src="http://logonoid.com/images/amazon-logo.png"
                         class="img"
                         alt="Amazon Logo" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="title">
                <p>
                    If you would like to send cash,
                    <a href="https://paypal.me/barlock">PayPal</a> and
                    <a href="https://venmo.com/Barlock">venmo</a> are available
                    for your convenience.
                </p>

            </div>
        </div>
    </div>
</div>
