<div id="registry" class="band">
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>Registry</h2>
                <h3 class="h3">Wedding gifts</h3>
                <p>
                    We are registered at the following stores.
                </p>
            </div>
        </div>
        <div class="registry">
            <div class="registry__store">
                <a href="https://www.amazon.com/wedding/liz-barlock-michael-barlock-chapel-hill-may-2017/registry/2W76ZXU7JLJKD"
                   target="_blank">
                    <img src="https://res.cloudinary.com/barlock/image/upload/c_scale,w_240/v1478993723/amazon-logo_tysym0.png"
                         class="img"
                         alt="Amazon Registry" />
                </a>
            </div>
            <div class="registry__store">
                <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=543927232&eventType=Wedding&pwsurl="
                   target="_blank">
                    <img src="https://res.cloudinary.com/barlock/image/upload/c_scale,w_240/v1478993723/Bed_Bath_Beyond_pzm5xy.jpg"
                         class="img"
                         alt="Bed Bath and Beyond Registry" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="title">
                <p>
                    If you would like to send cash,
                    <a href="https://paypal.me/barlock">PayPal</a> and
                    <a href="https://venmo.com/Barlock">venmo</a> are available
                    for your convenience.
                </p>

            </div>
        </div>
    </div>
</div>
