<div id="story" class="story">
    <div class="story__img">
        <img src="https://res.cloudinary.com/barlock/image/upload/c_crop,h_720,w_720,fl_progressive/v1473543642/sunset_pwggdd.jpg"
             class="img">
    </div>
    <div class="story__content">
        <h2 class="h2">Our Story</h2>
        <h3 class="h3">The best night at Banditos</h3>
        <p>
            Liz and Michael met in the summer of 2012 during college.
            Michael crashed a birthday party for Liz's good friend Cooper.
            Michael liked the looks of Liz, and he strategically seated himself across from Liz during dinner.
            He spent the whole evening chatting her up and boasting about
            his cooking skills.
        </p>
        <p>
            After the party, Liz went home to Wilmington,
            and they texted each other all summer. Liz wasn’t sold on
            Michael quite yet, but he had promised to cook her a meal
            when she returned to Chapel Hill.
        </p>
    </div>
</div>
<div class="story">
    <div class="story__img">
        <img src="https://res.cloudinary.com/barlock/image/upload/c_crop,g_faces,h_480,w_480,fl_progressive/v1473543642/unc_igxgua.jpg"
             class="img">
    </div>
    <div class="story__content">
        <h2 class="h2">Getting to know you</h2>
        <h3 class="h3">Our senior year</h3>
        <p>
            In the fall of 2012, both Michael and Liz moved back to Chapel
            Hill for their final year at UNC Chapel Hill. Michael coaxed
            Liz on a date with lamb risotto. She warmed up to Michael, and they
            spent next few months bonding over TV shows, UNC basketball, food, and music.
        </p>
        <p>
            Both Liz and Michael were music minors, and Liz was thrilled
            to learn that Michael knew all the words to Coney Island Baby
            (a popular song at Liz’s family reunion). Michael was excited
            to find someone to test out his recipes and attend his
            Men’s Glee concerts.
        </p>
    </div>
</div>
<div class="story">
    <div class="story__img">
        <img src="https://res.cloudinary.com/barlock/image/upload/c_crop,h_640,w_640,fl_progressive/v1473544640/ring_ijwrdi.jpg"
             class="img">
    </div>
    <div class="story__content">
        <h2 class="h2">The Proposal</h2>
        <h3 class="h3">She said yes</h3>
        <p>
            After graduation in summer of 2013, Michael took a job with IBM.
            Liz only applied for jobs in the Raleigh/Durham/Chapel Hill area, because she knew she didn’t
            want to move far from Michael. She was lucky to find a job in
            Mebane, 20 miles west of Chapel Hill. Michael’s job at IBM
            was 20 miles east of Chapel Hill. They both decided to stay
            put in the town of their alma mater where they saw each other
            every evening.
        </p>
        <p>
            Liz and Michael became engaged on November 15, 2014 at Duke
            gardens. For dinner that evening, they had lamb risotto!
        </p>
    </div>
</div>
