<div id="hotels" class="band band--about">
    <div class="container">
        <div class="ceremony">
            <div class="title">
                <h2 class="h2">About Us</h2>
                <h3 class="h3">Where it all began</h3>
            </div>
        </div>
    </div>
</div>

<div class="story">
    <div class="story__img">
        <img src="https://res.cloudinary.com/barlock/image/upload/c_crop,g_west,h_540,w_540,x_160,q_auto,fl_progressive/v1479070839/banditos_czzb4o.jpg"
             class="img">
    </div>
    <div class="story__content">
        <h2 class="h2">Our Story</h2>
        <h3 class="h3">The best night at Bandido's</h3>
        <p>
            Liz and Michael met in the summer of 2012 during college.
            Michael crashed a birthday party for Liz's good friend Cooper.
            Michael liked the looks of Liz, and he strategically seated himself across from Liz during dinner.
            He spent the whole evening chatting her up and boasting about
            his cooking skills.
        </p>
        <p>
            After the party, Liz went home to Wilmington,
            and they texted each other all summer. Liz wasn’t sold on
            Michael quite yet, but he had promised to cook her a meal
            when she returned to Chapel Hill.
        </p>
    </div>
</div>
<div class="story">
    <div class="story__img">
        <img src="https://res.cloudinary.com/barlock/image/upload/c_crop,g_faces,h_480,w_480,q_auto,fl_progressive/v1473543642/unc_igxgua.jpg"
             class="img">
    </div>
    <div class="story__content">
        <h2 class="h2">Getting to know you</h2>
        <h3 class="h3">Our senior year</h3>
        <p>
            In the fall of 2012, both Michael and Liz returned to Chapel
            Hill for their final year at UNC. Michael coaxed
            Liz on a date with lamb risotto. She warmed up to Michael, and they
            spent next few months bonding over TV shows, UNC basketball, food, and music.
        </p>
        <p>
            Both Liz and Michael were music minors, and Liz was thrilled
            to learn that Michael knew all the words to Coney Island Baby
            (a popular song at Liz’s family reunion). Michael was excited
            to find someone to test out his recipes and attend his
            Men’s Glee concerts.
        </p>
    </div>
</div>
<div class="story">
    <div class="story__img">
        <img src="https://res.cloudinary.com/barlock/image/upload/c_crop,g_south_west,h_400,w_400,x_150,y_50,fl_progressive/v1479070560/proposal_chpswj.jpg"
             class="img">
    </div>
    <div class="story__content">
        <h2 class="h2">The Proposal</h2>
        <h3 class="h3">She said yes</h3>
        <p>
            After graduation in summer of 2013, both Liz and Michael found jobs in the triangle. They decided to stay
            together in the town of their alma mater. Liz and Michael became engaged on November 15, 2014 at Duke
            gardens.
        </p>
    </div>
</div>
