<div class="band band--secondary">
    <div class="container">
        <div class="row">
            <div class="party__header">
                <h2>Wedding Party</h2>
                <h3 class="h3">Bridesmaids and Groomsmen</h4>
                <p>
                    This big day wouldn't mean much without the help and presence
                    of our best friends and families. Meet the people who will
                    accompany us through our journey.
                </p>
            </div>
            <div class="party">
                <div class="row">
                    <div class="party__main">
                        <img src="https://res.cloudinary.com/barlock/image/upload/c_thumb,fl_progressive,g_face,h_500,w_500/v1474252367/IMG_1535_hoawyb.jpg"
                             class="img"
                             alt=""/>
                        <h4 class="h2--space">Mary White</h4>
                        <h5 class="h3 h3--small">Maid of honor</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="party__member">
                        <img src="https://res.cloudinary.com/barlock/image/upload/c_thumb,h_400,w_400,fl_progressive/v1474132643/kayleigh_reyes_kgrb77.jpg"
                             class="img"
                             alt=""/>
                        <h4 class="h2--space">Kayleigh Reyes</h4>
                        <h5 class="h3 h3--small">Queen of Kayleighs</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.
                        </p>
                    </div>
                    <div class="party__member">
                        <img src="https://res.cloudinary.com/barlock/image/upload/c_crop,fl_progressive,g_north_west,h_600,w_600,x_1225,y_150/v1474252373/IMG_1390_gw5rct.jpg"
                             class="img"
                             alt=""/>
                        <h4 class="h2--space">Andri Seay</h4>
                        <h5 class="h3 h3--small">A sea of Andries</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="party">
                <div class="row">
                    <div class="party__main">
                        <img src="https://res.cloudinary.com/barlock/image/upload/c_thumb,h_500,w_500,fl_progressive/v1474132643/nick_cook_eyjujw.jpg"
                             class="img"
                             alt=""/>
                        <h4 class="h2--space">Nicholas Cook</h4>
                        <h5 class="h3 h3--small">Best Man</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="party__member">
                        <img src="https://res.cloudinary.com/barlock/image/upload/c_thumb,w_400,fl_progressive/v1474132643/cooper_dumas_mrxpqn.jpg"
                             class="img"
                             alt=""/>
                        <h4 class="h2--space">Cooper Dumas</h4>
                        <h5 class="h3 h3--small">The Man with the Plan</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.
                        </p>
                    </div>
                    <div class="party__member">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/005/01c/34f/2258d8b.jpg"
                             class="img"
                             alt=""/>
                        <h4 class="h2--space">Nick Bartlett</h4>
                        <h5 class="h3 h3--small">Other Nick</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

