<div class="full-backdrop"></div>
<div class="banner-overlay"></div>
<div class="front-banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>We're Engaged!</h2>
                <h3>Spring 2016</h3>
                <a class="btn btn-default">RSVP</a>
                <a class="btn btn-default">Sign our Guestbook</a>
            </div>
        </div>
    </div>
</div>
