<div class="band band--venue">
    <div class="container">
        <div class="row">
            <div class="hero">
                {{> hero-image }}
            </div>
        </div>
    </div>
</div>
{{> ceremony }}
{{> story }}
{{> wedding-party }}
{{> registry }}
