<div class="band">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
                {{> hero-image }}
            </div>
        </div>
    </div>
</div>
<div class="band band-secondary">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                <h2>Our Story</h2>
                <p>
                    Liz and Michael met in the summer of 2012 during college.
                    Michael crashed a birthday party for Liz's good friend Cooper.
                    At the time, Michael only knew one of the guests at the party,
                    and he even forgot Cooper’s name (the guest of honor!).
                    Michael learned that Liz was the only single girl at the party,
                    and he strategically seated himself across from Liz during dinner.
                    He spent the whole evening chatting her up and boasting about
                    his cooking skills. After the party, Liz went home to Wilmington,
                    and they texted each other all summer. Liz wasn’t sold on
                    Michael quite yet. In fact, she thought he was a little
                    weird, but Michael had promised to cook her a lamb risotto
                    dish when she returned to Chapel Hill.
                </p>
                <p>
                    In the fall of 2012, both Michael and Liz moved back to Chapel
                    Hill for their final year at UNC Chapel Hill. Michael coaxed
                    Liz on a date with lamb risotto (Liz thought it was fantastic!).
                    She warmed up to Michael, and they spent next few months bonding
                    over TV shows, UNC basketball, food, and music.
                    Both Liz and Michael were music minors, and Liz was thrilled
                    to learn that Michael knew all the words to Coney Island Baby
                    (a popular song at Liz’s family reunion). Michael was excited
                    to find someone to test out his recipes and attend his
                    Men’s Glee concerts.
                </p>
                <p>
                    After graduation in summer of 2013, Michael took a job with
                    IBM, as he had a summer internship there the previously.
                    Liz didn’t tell anyone, but she only applied for jobs in the
                    Raleigh/Durham/Chapel Hill area, because she knew she didn’t
                    want to move far from Michael. She was lucky to find a job in
                    Mebane, 20 miles west of Chapel Hill. Michael’s job at IBM
                    was 20 miles east of Chapel Hill. They both decided to stay
                    put in the town of their alma mater where they saw each other
                    every evening.
                </p>
                <p>
                    Liz and Michael became engaged on November 15, 2014 at Duke
                    gardens. For dinner that evening, they had…
                    you guessed it… lamb risotto!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="map-overlay"><a class="btn btn-secondary" href="https://www.google.com/maps/dir//Chapel+Hill+Carriage+House,+3110+Jones+Ferry+Rd,+Chapel+Hill,+NC+27516/@35.8744671,-79.1406108,17z/data=!4m16!1m7!3m6!1s0x89acc43944390091:0xee14157cd94240f3!2sChapel+Hill+Carriage+House!3b1!8m2!3d35.8744671!4d-79.1384168!4m7!1m0!1m5!1m1!1s0x89acc43944390091:0xee14157cd94240f3!2m2!1d-79.1384168!2d35.8744671">Directions</a></div>
