<div ng-cloak class="invites" ng-controller="weddingTime.guests.GuestListController">
    <div class="invites__group" ng-repeat="guests in guestTable">
        <div class="invites__item" ng-repeat="guest in guests">
            {{> invitation}}
        </div>
    </div>
</div>
