<div class="band band--rsvp" ng-controller="weddingTime.guests.RsvpController" >
    <div class="container">
        <div class="row">
            <div class="jumbotron" ng-hide="guest.invitationName" ng-show="attempts">
                <h1>Join us on our special day</h1>
                <p>Check your invitation for your unique RSVP code and enter it below to rsvp.</p>
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="input-group">
                            <input type="text" class="form-control text-uppercase" placeholder="ex: farmhouse" ng-model="rsvpCode">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="validate(rsvpCode)">RSVP</button>
                            </span>
                        </div>
                    </div>
                </div>
                <a class="a--em" href="mailto:edurham215@gmail.com?subject=Wedding%20RSVP" ng-show="attempts" ng-cloak>Having Trouble? Shoot us an email.</a>
            </div>

            <div class="jumbotron" ng-show="guest.invitationName" ng-cloak>
                <form name="rsvpForm" role="form" class="form">
                    <div class="form-group">
                        <label class="control-label">You're Invited! Check everyone who plans to attend.</label>
                        <div class="checkbox">
                            <div ng-repeat="name in guest.namesInvited">
                                <label><input class="checkbox" type="checkbox" ng-model="attending[name]">\{{name}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-show="guest.guestAllowed">
                        <label for="guest" class="control-label">Guest? If so, please provide his/her name.</label>
                        <div class="input-group" id="guest">
                            <span class="input-group-addon">
                                <input type="checkbox" ng-model="guest.guestComing">
                            </span>
                            <input type="text" class="form-control" ng-model="guest.guestName" ng-disabled="!guest.guestComing">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="message">
                            The menu is pulled pork! Please let us know if any guests would like the vegetarian option or have any other dietary restrictions:
                        </label>
                        <textarea id="message" class="form-control" rows="5" ng-model="guest.message"></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
                    </div>
                </form>

                Having trouble or the information doesn't look right? <a class="a--em" href="mailto:edurham215@gmail.com?subject=Wedding%20RSVP">Shoot us an email.</a><br>
                <a href="#" class="a--em" ng-click="giveUp()">Not you? Re-enter your code.</a>
            </div>
        </div>
    </div>
</div>
