@font-face {
    font-family: "ET-reg";
    src: url("/fonts/ET-reg.woff2") format('woff2'),
    url("/fonts/ET-reg.woff") format('woff');
}

@font-face {
    font-family: "ED-reg";
    src: url("/fonts/ED-reg.woff2") format('woff2'),
    url("/fonts/ED-reg.woff") format('woff');
}

@font-face {
    font-family: "ED-italic";
    src: url("/fonts/ED-italic.woff2") format('woff2'),
    url("/fonts/ED-italic.woff") format('woff');
}

@font-face {
    font-family:"BG-reg";
    src: url("/fonts/BG-reg.woff2") format('woff2'),
    url("/fonts/BG-reg.woff") format('woff');
}

$invite-height: 6in;
$invite-width: 4in;
$invite-space: .25in;

body {
    margin: 0;
    padding: 0;
}


.invites {
    display: table;
    border-spacing: .25in;

    &__group {
        display: table-row;
    }


    &__item {
        display: table-cell;

        svg {
            width: $invite-width;
            height: $invite-height;
        }
    }
}
