@mixin highlight {
    color: $tan3;
    font-family: $font-family-serif;
}

.h3 {
    @include highlight;
    padding-bottom: 1em;
    font-size: $font-size-base;
}

.h2 {
    &--space {
        margin-top: 1em;
    }
}

.img {
    width: 100%;
}

.em {
    @include highlight;
}

.a--em {
    @include highlight;
    text-decoration: underline;
}
