.map-overlay {
    background-size: cover;
    background-position: center center;
    background-image: url("https://maps.googleapis.com/maps/api/staticmap?markers=color:0x326B6A|3110+Jones+Ferry+Rd,+Chapel+Hill,+NC+27516&size=680x480&scale=2&zoom=12&key=AIzaSyBhve69NCImIRrnB2J2tSlCYM3ZRNd1E9s");
    height: 30em;
    width: 100%;
}
